defaults
defaults and fully supports es6-module
maintained node versions
supports serviceworkers

last 1 chrome version
last 1 firefox version
last 1 safari version
last 1 ie version

> 0.5%
last 2 versions
not dead