* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
    transform: scale(1.1);
	transition: transform 1s;
}

#notfound {
	position: relative;
	height: 100vh;
	background: #030005;
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 767px;
	width: 100%;
	line-height: 1.4;
	text-align: center;
}

.notfound .notfound-404 {
	position: relative;
	height: 180px;
	margin-bottom: 20px;
	z-index: -1;
}

.notfound .notfound-404 h1 {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	transform: translate(-50% , -50%);
	font-size: 224px;
	font-weight: 900;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -12px;
	color: #030005;
	text-transform: uppercase;
	text-shadow: -2px -2px 0px #8400ff, 2px 2px 0px #ff005a;
	letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	top: 110px;
	font-size: 42px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px .5px 0px #ff005a, 0px 2px 0px #8400ff;
	letter-spacing: 13px;
	margin: 0;
	text-shadow: 0 0 0.125em hsl(255 0% 100% / 0.1), 0 0 0.130em currentColor;
}

.notfound a {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	color: #ff005a;
	text-decoration: none;
	border: 2px solid;
	background: transparent;
	padding: 10px 40px;
	font-size: 14px;
	font-weight: 700;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.1), 0 0 0.45em currentColor;
	box-shadow: 0 0 0.5em 0 currentColor;
}

.notfound a:hover {
	color: #8400ff;
	transform: scale(1.01);
	box-shadow: 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor, 0 0 25mm #8400ff;
	transition: transform 0.5s;
}

.notfound:hover:has(a:hover) a:not(:hover) {
	transform: scale(0.99);
	transition: transform 0.5s;
}

@media only screen and (max-width: 767px) {
	.notfound .notfound-404 h2 {
		font-size: 24px;
	}
}

@media only screen and (max-width: 480px) {
	.notfound .notfound-404 h1 {
		font-size: 182px;
	}
}
