:root {
    --topBarHeight: 10%;
}

@font-face {
    font-family: hacked;
    src: url(/fonts/Hacked-KerX.ttf);
}
@font-face {
    font-family: smooth;
    src: url(/fonts/SmoothElegantRegular-ZLv3.ttf);
}
@font-face {
    font-family: liga;
    src: url(/fonts/LigaJetBrainsMonoNerdFont-Regular.ttf);
}
@font-face {
    font-family: big;
    src: url(/fonts/Big500-8MLOM.ttf);
}
 
/* page setup ============================================= */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: liga;
    text-shadow: 0px 0px 1px black;
}

body {
    top: 0;
    left: 0;
}

/* animation ============================================== */

@keyframes slideInTop {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-15px);
  }
}

@keyframes zoomIn {
  1% {
    transform: scale(0.01);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  1% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.01);
  }
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */


/* animate class */
.animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animate.animate--infinite {
  animation-iteration-count: infinite;
}

.animate.animation--delay-1s {
  animation-delay: 1s;
}
.animate.animation--delay-p5s {
  animation-delay: 0.5s;
}

.animate.animation--delay-p3s {
  animation-delay: 0.3s;
}

.animate.animation--fast {
  animation-duration: 0.3s;
}

.animate.animation--slow {
  animation-duration: 1s;
}

.animate.slideInTop {
  animation-name: slideInTop;
  animation-timing-function: ease-in;
}

.animate.bounce {
  animation-name: bounce;
}

.animate.zoomIn {
  transition-timing-function: linear;
  animation-name: zoomIn;
}

.animate.zoomOut {
  transition-timing-function: linear;
  animation-name: zoomOut;
}

/* transition */
* {
  transition: all 0.3s; 
}

*:hover {
  transition: all 0.3s
}

.js-tilt-glare {
  border-radius: 18px;
  overflow: hidden;
}

/* topbar styles ========================================== */

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    justify-content: space-between;
    align-items:center;
    /* background: color(0, 0, 0, .1); */
    z-index: 1000;
    background: rgba(128, 128, 128, 0.2)
}

.navBar a {
    position: relative;
    height: 100%;
    font-size: 5mm;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    margin-left: 5mm;
    margin-right: 5mm;
    padding-top: 3mm;
    padding-bottom: 3mm;
    border-radius: 8px;
    color: #F4E8C1;
}

.navBar .left a {float: left;}
.navBar .right a {float: right;}

.navBar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1mm;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 1mm;
    transform: scaleX(0);
    transition: all 0.3s;
}

.navBar a:hover::after {
    transform: scaleX(1.1);
}

.navBar a:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: ridge rgba(128, 128, 128, .6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 1s
}

.navBar a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1mm;
    background: #F4E8C1;
    border-radius: 1mm;
    transform: scaleX(1);
}

.navBar:active,
.navBar:hover,
header:active,
header:hover,
#navBarHeader:hover,
#navBarHeader:active
{
  transform: scale(1.005);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.5s
}

/* other ================================================== */

.contents {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.slowScroll
  transform: translateZ(-10px) scale(2);
}

.fastScroll {
  transform: translateZ(-5px) scale(1.5);
}

.slowScroll,
.fastScroll {
  position: absolute;
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
  z-index: -1;
}
